<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="column">
                    <a href="https://cadex.xyz">
                        <img class="footer-img" src="/images/nav_blue-trend.png" alt="cadex logo">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="column">
                    <div class="widget-title">
                        <h3>Resources</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="https://github.com/cadexproject/cadex" target="_blank">GitHub</a></li>
                            <li><a href="https://blocks.waggok.tech" target="_blank">Block Explorer</a></li>
                            <li><a href="https://cadex.xyz/en/notices/" target="_blank">Latest News</a></li>
                            <li><a href="https://cadex.xyz/en/roadmap/" target="_blank">Road Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="column">
                    <div class="widget-title">
                        <h3>Social</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="https://discord.gg/bvNFDpN" target="_blank">Discord</a></li>
                            <li><a href="https://www.reddit.com/r/Cadex/" target="_blank">Reddit</a></li>
                            <li><a href="https://twitter.com/cadex" target="_blank">Twitter</a></li>
                            <li><a href="https://www.facebook.com/cadex/" target="_blank">Facebook</a></li>
                            <li><a href="http://medium.com/cadex" target="_blank">Medium</a></li>
                            <li><a href="https://bitcointalk.org/index.php?topic=5049260.0" target="_blank">BitcoinTalk</a></li>
                            <li><a href="https://t.me/cadex" target="_blank">Telegram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                         <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="column">
                    <div class="widget-title">
                        <h3>Exchanges</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="https://dxchange.online" target="_blank">Dxchange</a></li>
                            <li><a href="" target="_blank">More Exchange Coming</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="column">
                    <div class="widget-title">
                        <h3>Legal</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                           
                        </ul>
                        <hr>
                        <a href="https://opensource.org/licenses/mit-license.php" target="_blank"><p id="license">Cadex released under the MIT license</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
@media (max-width:768px){
    .col-xs-12 {
    text-align: center;
    }
}    

</style>


<!-- jquery main framwork -->
<script src="{{ "js/vendor/jquery-3.3.1.min.js" | relURL }}"></script>

<!-- bootstrap framwork js -->
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
